.alert {
    width: 255px;
    height: 55px;
    display: flex;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 6px 6px var(--shadow);
    transition: all .3s ease-in-out;
    margin: 4%;
    user-select: none;
}
.alert__icon {
    width: 10%;
    height: 100%;
    display: inherit;
    justify-content: center;
    align-items: flex-start;
    border-radius:  5px 0 0 5px ;
}
.alert__icon > i {
    padding: 5px;
    font-size: 16px;
    color: #fff;
}
.alert__body {
    width: 90%;
    height: 100%;
    background: #fff;
    display: inherit;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
    color: #575757;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 12px;
    cursor: pointer;
}

.alert__close i {
    color: #575757;
    cursor: pointer;
    font-size: 16px;
}
.alert-side {
    box-sizing: border-box;
    pointer-events: none;
    padding: 0 30px 0 0;
    position: fixed;
    top: 0;
    right: 0;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid red;
    transition: all .3s ease-in-out;
}
.item-enter {
    opacity: 0;
    transform: translateX(50%)
}
.item-enter-active {
    opacity: 1;
    visibility: visible;
    transform: translateX(-0%);
    transition: all .5s ease-in-out;
}
.item-exit  {
    opacity: 0;
    transform: translateX(0%);
}
.item-exit-active {
    opacity: 1;
    visibility: visible;
    transform: translateX(150%);
    transition: all .5s ease-in-out;
}
.check_circle .alert__icon {
    background: var(--green);
}
.warning .alert__icon {
    background: var(--orange) !important;
}
.error .alert__icon {
    background: var(--red) ;
}
.info .alert__icon {
    background: var(--blue);
}