
body {
    padding: 0;
    margin: 0;
    text-align: center;
}
:root {
    --red: rgb(243, 82, 82);
    --green: #1a7b;
    --soft-green: #1a7;
    --shadow: rgba(0,0,0,.2);
}
.container {
    height: 99vh;    
    display: flex;
}
.container h1 {
    color: #575757;
    margin: 3px;
    padding: 0;
    font-weight: 400;
}

.counter {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}